<nav class="navbar navbar-default" role="navigation">
    <div class="width-limit">
        <a class="btn write-btn" target="_blank" href="/writer#/">写文章</a> 
        <a class="btn sign-up" id="sign_up" href="/sign_up">注册</a>
        <a class="btn log-in" id="sign_in" href="/sign_in">登录</a>
        <div class="container">
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="tab ">
                        <a href="/">
                            <span class="menu-text">首页</span><i class="iconfont ic-navigation-discover menu-icon"></i>
                        </a> </li>
                    <li class="tab ">
                        <a id="web-nav-app-download-btn" class="app-download-btn"
                            href="/apps?utm_medium=desktop&amp;utm_source=navbar-apps"><span
                                class="menu-text">下载App</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>