<div class="content">
        <h2>My Heroes</h2>
        <ul class="heroes">
            <li *ngFor="let hero of heroes">
                <a routerLink="/detail/{{hero.id}}">
                    <span class="badge">{{hero.id}}</span> {{hero.name}}
                </a>
                <button class="delete" title="delete hero"
                (click)="delete(hero)">x</button>
            </li>
        </ul>
        
        <section class="add">
            <label for="#heroName">Hero name
                <input type="text" #heroName>
            </label>
            <button type="submit" (click)="add(heroName.value);heroName.value = ''">添加</button>
        </section>
        <section class="form">
            <app-form></app-form>
        </section>
</div>